@font-face {
    font-family: 'Pixeled';
    src: url('../src/fonts/Minecraft.ttf');
}

#academicNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    position: relative;
    padding: 4rem 0;
    overflow: hidden;
}

#academicNav .top-text h2 {
    color: #000;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    font-family: 'Pixeled', sans-serif;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

#academicNav .banner ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100vw;
    background: #FFC700;
    padding: 1rem 0;
}

#academicNav .banner li a {
    text-decoration: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#academicNav .banner li .active {
    border-radius: 83px;
    background: #FFF;
    padding: 0.5rem 3rem;
    color: #000 !important;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    padding: 0 4rem;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

#content .head {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#content .head p {
    color: #212529;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    width: 70%;
    /* 141.667% */
}

#content h3 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

#content .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

#content .container .box {
    width: fit-content;
    border-radius: 16px;
    border: 1px solid var(--Gray-5, #E0E0E0);
    background: #FFF;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1.8fr 1fr;
    padding: 2rem;
}

#content .container .box .left-text h4 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#content .container .box .right-text ol {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#content .items {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;
}

#content .items .item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#content .items .item h4 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#content .items .item ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

#content .items .item li {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    color: #111;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.class {
    display: flex;
    align-items: center;
    gap: 7rem;
    justify-content: center;

}

.class h2 {
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.class tbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.class table {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.class tr {
    width: 300px !important;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border: 1px solid #000;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#academicQuestion .class {
    padding: 2rem 0;
}